/**
* MAIN CSS STYLES
* ----------------------------------------
*
* Author: Your Name (email@address.com)
*
* Date: Year.Month.Date
*/
body {
	background-image:url("images/squared_metal.png");
	background-repeat: repeat-x repeat-y;
}

#head {
	background-image: url('images/ross_mixer.jpg');
	background-size: cover;
	background-position: center center;
	height: 70%;
	width: 100%;
}


.panel-body {
	background-color:#eeeeee;


}
.glyphicon {
	font-size: 50px;
	
}
#aboutbg {
	width:100%;
	height:1000px;
	margin-top: 200px;
	background-image:url('images/sprinkles_@2x.png');
	background-repeat:repeat-x repeat-y;
	

}

#music {
	padding-top: 15%;

}

#music .row {
	margin-bottom: 25px;
}

#musicbg {
	width:100%;
	height:1000px;
	margin-top: 200px;
	background-image:url('images/ableton_fade.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 100%;
	
	
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #3D4C3D;
	background-color: #CCFFCC;
}
.nav-pills {
	position: fixed;
}
.nav-pills a{
	color:#CCCCCC;
	background-color: #000000;
}

.nav-pills a:hover {
	color:black;
	}

#comingsoon {
	height: 300px;
}